pipeline/LoadDataSAP_Raw.json
{
	"name": "LoadDataSAP_Raw",
	"properties": {
		"activities": [
			{
				"name": "LkpFileOwners",
				"description": "Lectura de parametrización de cargas.",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[audi].[uspReadFileOwners]",
						"storedProcedureParameters": {
							"Environment": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.Environment",
									"type": "Expression"
								}
							},
							"From": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.From",
									"type": "Expression"
								}
							},
							"Process": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.Process",
									"type": "Expression"
								}
							},
							"SubProcess": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.SubProcess",
									"type": "Expression"
								}
							},
							"To": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.To",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SourceAzureSqlTableFramework",
						"type": "DatasetReference",
						"parameters": {
							"tableName": "NA",
							"Schema": "NA"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach",
				"description": "Iteración de parametrización de cargas.",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LkpFileOwners",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LkpFileOwners').output.Value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CopySAPRaw",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SapTableSource",
									"rfcTableOptions": {
										"value": "@{item().SourceFilter}",
										"type": "Expression"
									},
									"customRfcReadTableFunctionModule": "",
									"rfcTableFields": {
										"value": "@item().SourceColumnSelect",
										"type": "Expression"
									},
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureDataLakeStoreWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SourceSapTableRaw",
									"type": "DatasetReference",
									"parameters": {
										"tableName": {
											"value": "@item().SourceFileName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "SinkParquetRaw",
									"type": "DatasetReference",
									"parameters": {
										"SinkFilePath": {
											"value": "@item().SinkFilePath",
											"type": "Expression"
										},
										"SinkFileName": {
											"value": "@item().SinkFileName",
											"type": "Expression"
										},
										"SourceFileExtension": {
											"value": "@item().SinkFileExtension",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Success",
							"description": "Registra en el usp [uspUpdateLogAuditoriaPactia] el estado de ejecución",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "CopySAPRaw",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[audi].[uspUpdateLogAuditoria]",
								"storedProcedureParameters": {
									"ExecutionDuration": {
										"value": {
											"value": "@activity('CopySAPRaw').output.executionDetails[0].detailedDurations",
											"type": "Expression"
										},
										"type": "String"
									},
									"ExecutionError": {
										"value": {
											"value": "n/a",
											"type": "Expression"
										},
										"type": "String"
									},
									"ExecutionStart": {
										"value": {
											"value": "@activity('CopySAPRaw').output.executionDetails[0].start",
											"type": "Expression"
										},
										"type": "String"
									},
									"FileName": {
										"value": {
											"value": "@item().SourceFileName",
											"type": "Expression"
										},
										"type": "String"
									},
									"fkFileOwners": {
										"value": {
											"value": "@item().pkFileOwners",
											"type": "Expression"
										},
										"type": "String"
									},
									"Pipeline": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"RowsCopied": {
										"value": {
											"value": "@if(contains(activity('CopySAPRaw').output,'rowsCopied'),activity('CopySAPRaw').output.rowsCopied,-1)",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"RowsRead": {
										"value": {
											"value": "@if(contains(activity('CopySAPRaw').output,'rowsRead'),activity('CopySAPRaw').output.rowsRead,-1)",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"StateOfExecutions": {
										"value": {
											"value": "1",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"TriggerName": {
										"value": {
											"value": "@pipeline().TriggerName",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Failure",
							"description": "Registra en el usp [uspUpdateLogAuditoriaPactia] el estado de ejecución",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "CopySAPRaw",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[audi].[uspUpdateLogAuditoria]",
								"storedProcedureParameters": {
									"ExecutionDuration": {
										"value": {
											"value": "@activity('CopySAPRaw').output.executionDetails[0].detailedDurations",
											"type": "Expression"
										},
										"type": "String"
									},
									"ExecutionError": {
										"value": {
											"value": "@activity('CopySAPRaw').output.errors[0].Message",
											"type": "Expression"
										},
										"type": "String"
									},
									"ExecutionStart": {
										"value": {
											"value": "@activity('CopySAPRaw').output.executionDetails[0].start",
											"type": "Expression"
										},
										"type": "String"
									},
									"FileName": {
										"value": {
											"value": "@item().SourceFileName",
											"type": "Expression"
										},
										"type": "String"
									},
									"fkFileOwners": {
										"value": {
											"value": "@item().pkFileOwners",
											"type": "Expression"
										},
										"type": "String"
									},
									"Pipeline": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"RowsCopied": {
										"value": {
											"value": "0",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"RowsRead": {
										"value": {
											"value": "0",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"StateOfExecutions": {
										"value": {
											"value": "0",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"TriggerName": {
										"value": {
											"value": "@pipeline().TriggerName",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"Environment": {
				"type": "string",
				"defaultValue": "Desarrollo"
			},
			"Process": {
				"type": "string",
				"defaultValue": "Ramo"
			},
			"SubProcess": {
				"type": "string",
				"defaultValue": "Comercial"
			},
			"From": {
				"type": "int",
				"defaultValue": 0
			},
			"To": {
				"type": "int",
				"defaultValue": 0
			}
		},
		"folder": {
			"name": "1.CARGA_RAW"
		},
		"annotations": [],
		"lastPublishTime": "2020-08-26T13:38:29Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}