dframo/PartialArmTemplates/ArmTemplate_11_3_2020_12_45_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "dframo"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/LoadDataDWH')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DimAgencia",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								}
							},
							"sink": {
								"type": "AzureTableSink",
								"azureTableInsertType": "replace",
								"writeBatchSize": 10000
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SinkParquetRawGen2",
								"type": "DatasetReference",
								"parameters": {
									"SinkFilePath": "DWH/DimAgencia/",
									"SinkFileName": "DimAgencia.snappy",
									"SourceFileExtension": "parquet"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SinkAzureTableDWH",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "DimAgencia"
								}
							}
						]
					},
					{
						"name": "DimAlmacen",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DimAgencia",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								}
							},
							"sink": {
								"type": "AzureTableSink",
								"azureTableInsertType": "replace",
								"writeBatchSize": 10000
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SinkParquetRawGen2",
								"type": "DatasetReference",
								"parameters": {
									"SinkFilePath": "DWH/DimAlmacen/",
									"SinkFileName": "DimAlmacen.snappy",
									"SourceFileExtension": "parquet"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SinkAzureTableDWH",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "DimAlmacen"
								}
							}
						]
					},
					{
						"name": "DimCanal",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DimAlmacen",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								}
							},
							"sink": {
								"type": "AzureTableSink",
								"azureTableInsertType": "replace",
								"writeBatchSize": 10000
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SinkParquetRawGen2",
								"type": "DatasetReference",
								"parameters": {
									"SinkFilePath": "DWH/DimCanal/",
									"SinkFileName": "DimCanal.snappy",
									"SourceFileExtension": "parquet"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SinkAzureTableDWH",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "DimCanal"
								}
							}
						]
					},
					{
						"name": "DimCategoria",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DimCanal",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								}
							},
							"sink": {
								"type": "AzureTableSink",
								"azureTableInsertType": "replace",
								"writeBatchSize": 10000
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SinkParquetRawGen2",
								"type": "DatasetReference",
								"parameters": {
									"SinkFilePath": "DWH/DimCategoria/",
									"SinkFileName": "DimCategoria.snappy",
									"SourceFileExtension": "parquet"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SinkAzureTableDWH",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "DimCategoria"
								}
							}
						]
					},
					{
						"name": "DimCliente",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DimCategoria",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								}
							},
							"sink": {
								"type": "AzureTableSink",
								"azureTableInsertType": "replace",
								"writeBatchSize": 10000
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SinkParquetRawGen2",
								"type": "DatasetReference",
								"parameters": {
									"SinkFilePath": "DWH/DimCliente/",
									"SinkFileName": "DimCliente.snappy",
									"SourceFileExtension": "parquet"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SinkAzureTableDWH",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "DimCliente"
								}
							}
						]
					},
					{
						"name": "DimClienteVenta",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DimCliente",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								}
							},
							"sink": {
								"type": "AzureTableSink",
								"azureTableInsertType": "replace",
								"writeBatchSize": 10000
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SinkParquetRawGen2",
								"type": "DatasetReference",
								"parameters": {
									"SinkFilePath": "DWH/DimClienteVenta/",
									"SinkFileName": "DimClienteVenta.snappy",
									"SourceFileExtension": "parquet"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SinkAzureTableDWH",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "DimClienteVenta"
								}
							}
						]
					},
					{
						"name": "DimGrupoVendedor",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DimClienteVenta",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								}
							},
							"sink": {
								"type": "AzureTableSink",
								"azureTableInsertType": "replace",
								"writeBatchSize": 10000
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SinkParquetRawGen2",
								"type": "DatasetReference",
								"parameters": {
									"SinkFilePath": "DWH/DimGrupoVendedor/",
									"SinkFileName": "DimGrupoVendedor.snappy",
									"SourceFileExtension": "parquet"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SinkAzureTableDWH",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "DimGrupoVendedor"
								}
							}
						]
					},
					{
						"name": "DimMacroZona",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DimGrupoVendedor",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								}
							},
							"sink": {
								"type": "AzureTableSink",
								"azureTableInsertType": "replace",
								"writeBatchSize": 10000
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SinkParquetRawGen2",
								"type": "DatasetReference",
								"parameters": {
									"SinkFilePath": "DWH/DimMacroZona/",
									"SinkFileName": "DimMacroZona.snappy",
									"SourceFileExtension": "parquet"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SinkAzureTableDWH",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "DimMacroZona"
								}
							}
						]
					},
					{
						"name": "DimMarca",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DimMacroZona",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								}
							},
							"sink": {
								"type": "AzureTableSink",
								"azureTableInsertType": "replace",
								"writeBatchSize": 10000
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SinkParquetRawGen2",
								"type": "DatasetReference",
								"parameters": {
									"SinkFilePath": "DWH/DimMarca/",
									"SinkFileName": "DimMarca.snappy",
									"SourceFileExtension": "parquet"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SinkAzureTableDWH",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "DimMarca"
								}
							}
						]
					},
					{
						"name": "DimOrganizacionVentas",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DimMarca",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								}
							},
							"sink": {
								"type": "AzureTableSink",
								"azureTableInsertType": "replace",
								"writeBatchSize": 10000
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SinkParquetRawGen2",
								"type": "DatasetReference",
								"parameters": {
									"SinkFilePath": "DWH/DimOrganizacionVentas/",
									"SinkFileName": "DimOrganizacionVentas.snappy",
									"SourceFileExtension": "parquet"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SinkAzureTableDWH",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "DimOrganizacionVentas"
								}
							}
						]
					},
					{
						"name": "DimPuestoExpedicion",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DimOrganizacionVentas",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								}
							},
							"sink": {
								"type": "AzureTableSink",
								"azureTableInsertType": "replace",
								"writeBatchSize": 10000
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SinkParquetRawGen2",
								"type": "DatasetReference",
								"parameters": {
									"SinkFilePath": "DWH/DimPuestoExpedicion/",
									"SinkFileName": "DimPuestoExpedicion.snappy",
									"SourceFileExtension": "parquet"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SinkAzureTableDWH",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "DimPuestoExpedicion"
								}
							}
						]
					},
					{
						"name": "DimRegional",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DimPuestoExpedicion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								}
							},
							"sink": {
								"type": "AzureTableSink",
								"azureTableInsertType": "replace",
								"writeBatchSize": 10000
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SinkParquetRawGen2",
								"type": "DatasetReference",
								"parameters": {
									"SinkFilePath": "DWH/DimRegional/",
									"SinkFileName": "DimRegional.snappy",
									"SourceFileExtension": "parquet"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SinkAzureTableDWH",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "DimRegional"
								}
							}
						]
					},
					{
						"name": "DimSector",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DimRegional",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								}
							},
							"sink": {
								"type": "AzureTableSink",
								"azureTableInsertType": "replace",
								"writeBatchSize": 10000
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SinkParquetRawGen2",
								"type": "DatasetReference",
								"parameters": {
									"SinkFilePath": "DWH/DimSector/",
									"SinkFileName": "DimSector.snappy",
									"SourceFileExtension": "parquet"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SinkAzureTableDWH",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "DimSector"
								}
							}
						]
					},
					{
						"name": "DimSegmento",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DimSector",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								}
							},
							"sink": {
								"type": "AzureTableSink",
								"azureTableInsertType": "replace",
								"writeBatchSize": 10000
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SinkParquetRawGen2",
								"type": "DatasetReference",
								"parameters": {
									"SinkFilePath": "DWH/DimSegmento/",
									"SinkFileName": "DimSegmento.snappy",
									"SourceFileExtension": "parquet"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SinkAzureTableDWH",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "DimSegmento"
								}
							}
						]
					},
					{
						"name": "DimSociedad",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DimSegmento",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								}
							},
							"sink": {
								"type": "AzureTableSink",
								"azureTableInsertType": "replace",
								"writeBatchSize": 10000
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SinkParquetRawGen2",
								"type": "DatasetReference",
								"parameters": {
									"SinkFilePath": "DWH/DimSociedad/",
									"SinkFileName": "DimSociedad.snappy",
									"SourceFileExtension": "parquet"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SinkAzureTableDWH",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "DimSociedad"
								}
							}
						]
					},
					{
						"name": "DimSubcanal",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DimSociedad",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								}
							},
							"sink": {
								"type": "AzureTableSink",
								"azureTableInsertType": "replace",
								"writeBatchSize": 10000
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SinkParquetRawGen2",
								"type": "DatasetReference",
								"parameters": {
									"SinkFilePath": "DWH/DimSubcanal/",
									"SinkFileName": "DimSubcanal.snappy",
									"SourceFileExtension": "parquet"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SinkAzureTableDWH",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "DimSubcanal"
								}
							}
						]
					},
					{
						"name": "DimTipologia",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DimSubcanal",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								}
							},
							"sink": {
								"type": "AzureTableSink",
								"azureTableInsertType": "replace",
								"writeBatchSize": 10000
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SinkParquetRawGen2",
								"type": "DatasetReference",
								"parameters": {
									"SinkFilePath": "DWH/DimTipologia/",
									"SinkFileName": "DimTipologia.snappy",
									"SourceFileExtension": "parquet"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SinkAzureTableDWH",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "DimTipologia"
								}
							}
						]
					},
					{
						"name": "DimZona",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DimTipologia",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								}
							},
							"sink": {
								"type": "AzureTableSink",
								"azureTableInsertType": "replace",
								"writeBatchSize": 10000
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SinkParquetRawGen2",
								"type": "DatasetReference",
								"parameters": {
									"SinkFilePath": "DWH/DimZona/",
									"SinkFileName": "DimZona.snappy",
									"SourceFileExtension": "parquet"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SinkAzureTableDWH",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "DimZona"
								}
							}
						]
					}
				],
				"folder": {
					"name": "4.CARGA_AZURE_TABLE"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SinkAzureTableDWH')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LoadDataSAP')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LoadDataSAPTable_Raw_Gen2",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "LoadDataSAPTable_Raw_Gen2",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "LoadDataSAPHana_Raw_Gen2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "LoadDataSAPTable_Raw_Gen2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "LoadDataSAPHana_Raw_Gen2",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "LoadDataRaw_Enriched",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "LoadDataSAPHana_Raw_Gen2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "LoadDataRaw_Enriched",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "LoadDataRaw_Curated",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "LoadDataRaw_Enriched",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "LoadDataRaw_Curated",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "LoadDataRaw_CuratedHana",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "LoadDataRaw_Curated",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "LoadDataRaw_Curated",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Environment": "Desarrollo",
								"Process": "Ramo",
								"SubProcess": "ComercialHana",
								"Fac": "1"
							}
						}
					}
				],
				"folder": {
					"name": "0.MAESTRO EJECUCIÓN"
				},
				"annotations": [],
				"lastPublishTime": "2020-10-09T12:15:41Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SinkAzureTableDWH')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SinkAzureTableStorage",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"TableName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "SINK"
				},
				"annotations": [],
				"type": "AzureTable",
				"schema": [],
				"typeProperties": {
					"tableName": {
						"value": "@dataset().TableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		}
	]
}