dframo/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "dframo"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/LoadDataDWH')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DimAgencia",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								}
							},
							"sink": {
								"type": "AzureTableSink",
								"azureTableInsertType": "replace",
								"writeBatchSize": 10000
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SinkParquetRawGen2",
								"type": "DatasetReference",
								"parameters": {
									"SinkFilePath": "DWH/DimAgencia/",
									"SinkFileName": "DimAgencia.snappy",
									"SourceFileExtension": "parquet"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SinkAzureTableDWH",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "DimAgencia"
								}
							}
						]
					},
					{
						"name": "DimAlmacen",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DimAgencia",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								}
							},
							"sink": {
								"type": "AzureTableSink",
								"azureTableInsertType": "replace",
								"writeBatchSize": 10000
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SinkParquetRawGen2",
								"type": "DatasetReference",
								"parameters": {
									"SinkFilePath": "DWH/DimAlmacen/",
									"SinkFileName": "DimAlmacen.snappy",
									"SourceFileExtension": "parquet"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SinkAzureTableDWH",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "DimAlmacen"
								}
							}
						]
					},
					{
						"name": "DimCanal",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DimAlmacen",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								}
							},
							"sink": {
								"type": "AzureTableSink",
								"azureTableInsertType": "replace",
								"writeBatchSize": 10000
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SinkParquetRawGen2",
								"type": "DatasetReference",
								"parameters": {
									"SinkFilePath": "DWH/DimCanal/",
									"SinkFileName": "DimCanal.snappy",
									"SourceFileExtension": "parquet"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SinkAzureTableDWH",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "DimCanal"
								}
							}
						]
					},
					{
						"name": "DimCategoria",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DimCanal",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								}
							},
							"sink": {
								"type": "AzureTableSink",
								"azureTableInsertType": "replace",
								"writeBatchSize": 10000
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SinkParquetRawGen2",
								"type": "DatasetReference",
								"parameters": {
									"SinkFilePath": "DWH/DimCategoria/",
									"SinkFileName": "DimCategoria.snappy",
									"SourceFileExtension": "parquet"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SinkAzureTableDWH",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "DimCategoria"
								}
							}
						]
					},
					{
						"name": "DimCliente",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DimCategoria",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								}
							},
							"sink": {
								"type": "AzureTableSink",
								"azureTableInsertType": "replace",
								"writeBatchSize": 10000
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SinkParquetRawGen2",
								"type": "DatasetReference",
								"parameters": {
									"SinkFilePath": "DWH/DimCliente/",
									"SinkFileName": "DimCliente.snappy",
									"SourceFileExtension": "parquet"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SinkAzureTableDWH",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "DimCliente"
								}
							}
						]
					},
					{
						"name": "DimClienteVenta",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DimCliente",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								}
							},
							"sink": {
								"type": "AzureTableSink",
								"azureTableInsertType": "replace",
								"writeBatchSize": 10000
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SinkParquetRawGen2",
								"type": "DatasetReference",
								"parameters": {
									"SinkFilePath": "DWH/DimClienteVenta/",
									"SinkFileName": "DimClienteVenta.snappy",
									"SourceFileExtension": "parquet"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SinkAzureTableDWH",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "DimClienteVenta"
								}
							}
						]
					},
					{
						"name": "DimGrupoVendedor",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DimClienteVenta",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								}
							},
							"sink": {
								"type": "AzureTableSink",
								"azureTableInsertType": "replace",
								"writeBatchSize": 10000
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SinkParquetRawGen2",
								"type": "DatasetReference",
								"parameters": {
									"SinkFilePath": "DWH/DimGrupoVendedor/",
									"SinkFileName": "DimGrupoVendedor.snappy",
									"SourceFileExtension": "parquet"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SinkAzureTableDWH",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "DimGrupoVendedor"
								}
							}
						]
					},
					{
						"name": "DimMacroZona",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DimGrupoVendedor",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								}
							},
							"sink": {
								"type": "AzureTableSink",
								"azureTableInsertType": "replace",
								"writeBatchSize": 10000
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SinkParquetRawGen2",
								"type": "DatasetReference",
								"parameters": {
									"SinkFilePath": "DWH/DimMacroZona/",
									"SinkFileName": "DimMacroZona.snappy",
									"SourceFileExtension": "parquet"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SinkAzureTableDWH",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "DimMacroZona"
								}
							}
						]
					},
					{
						"name": "DimMarca",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DimMacroZona",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								}
							},
							"sink": {
								"type": "AzureTableSink",
								"azureTableInsertType": "replace",
								"writeBatchSize": 10000
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SinkParquetRawGen2",
								"type": "DatasetReference",
								"parameters": {
									"SinkFilePath": "DWH/DimMarca/",
									"SinkFileName": "DimMarca.snappy",
									"SourceFileExtension": "parquet"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SinkAzureTableDWH",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "DimMarca"
								}
							}
						]
					},
					{
						"name": "DimOrganizacionVentas",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DimMarca",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								}
							},
							"sink": {
								"type": "AzureTableSink",
								"azureTableInsertType": "replace",
								"writeBatchSize": 10000
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SinkParquetRawGen2",
								"type": "DatasetReference",
								"parameters": {
									"SinkFilePath": "DWH/DimOrganizacionVentas/",
									"SinkFileName": "DimOrganizacionVentas.snappy",
									"SourceFileExtension": "parquet"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SinkAzureTableDWH",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "DimOrganizacionVentas"
								}
							}
						]
					},
					{
						"name": "DimPuestoExpedicion",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DimOrganizacionVentas",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								}
							},
							"sink": {
								"type": "AzureTableSink",
								"azureTableInsertType": "replace",
								"writeBatchSize": 10000
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SinkParquetRawGen2",
								"type": "DatasetReference",
								"parameters": {
									"SinkFilePath": "DWH/DimPuestoExpedicion/",
									"SinkFileName": "DimPuestoExpedicion.snappy",
									"SourceFileExtension": "parquet"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SinkAzureTableDWH",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "DimPuestoExpedicion"
								}
							}
						]
					},
					{
						"name": "DimRegional",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DimPuestoExpedicion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								}
							},
							"sink": {
								"type": "AzureTableSink",
								"azureTableInsertType": "replace",
								"writeBatchSize": 10000
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SinkParquetRawGen2",
								"type": "DatasetReference",
								"parameters": {
									"SinkFilePath": "DWH/DimRegional/",
									"SinkFileName": "DimRegional.snappy",
									"SourceFileExtension": "parquet"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SinkAzureTableDWH",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "DimRegional"
								}
							}
						]
					},
					{
						"name": "DimSector",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DimRegional",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								}
							},
							"sink": {
								"type": "AzureTableSink",
								"azureTableInsertType": "replace",
								"writeBatchSize": 10000
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SinkParquetRawGen2",
								"type": "DatasetReference",
								"parameters": {
									"SinkFilePath": "DWH/DimSector/",
									"SinkFileName": "DimSector.snappy",
									"SourceFileExtension": "parquet"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SinkAzureTableDWH",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "DimSector"
								}
							}
						]
					},
					{
						"name": "DimSegmento",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DimSector",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								}
							},
							"sink": {
								"type": "AzureTableSink",
								"azureTableInsertType": "replace",
								"writeBatchSize": 10000
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SinkParquetRawGen2",
								"type": "DatasetReference",
								"parameters": {
									"SinkFilePath": "DWH/DimSegmento/",
									"SinkFileName": "DimSegmento.snappy",
									"SourceFileExtension": "parquet"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SinkAzureTableDWH",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "DimSegmento"
								}
							}
						]
					},
					{
						"name": "DimSociedad",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DimSegmento",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								}
							},
							"sink": {
								"type": "AzureTableSink",
								"azureTableInsertType": "replace",
								"writeBatchSize": 10000
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SinkParquetRawGen2",
								"type": "DatasetReference",
								"parameters": {
									"SinkFilePath": "DWH/DimSociedad/",
									"SinkFileName": "DimSociedad.snappy",
									"SourceFileExtension": "parquet"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SinkAzureTableDWH",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "DimSociedad"
								}
							}
						]
					},
					{
						"name": "DimSubcanal",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DimSociedad",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								}
							},
							"sink": {
								"type": "AzureTableSink",
								"azureTableInsertType": "replace",
								"writeBatchSize": 10000
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SinkParquetRawGen2",
								"type": "DatasetReference",
								"parameters": {
									"SinkFilePath": "DWH/DimSubcanal/",
									"SinkFileName": "DimSubcanal.snappy",
									"SourceFileExtension": "parquet"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SinkAzureTableDWH",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "DimSubcanal"
								}
							}
						]
					},
					{
						"name": "DimTipologia",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DimSubcanal",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								}
							},
							"sink": {
								"type": "AzureTableSink",
								"azureTableInsertType": "replace",
								"writeBatchSize": 10000
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SinkParquetRawGen2",
								"type": "DatasetReference",
								"parameters": {
									"SinkFilePath": "DWH/DimTipologia/",
									"SinkFileName": "DimTipologia.snappy",
									"SourceFileExtension": "parquet"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SinkAzureTableDWH",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "DimTipologia"
								}
							}
						]
					},
					{
						"name": "DimZona",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DimTipologia",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								}
							},
							"sink": {
								"type": "AzureTableSink",
								"azureTableInsertType": "replace",
								"writeBatchSize": 10000
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SinkParquetRawGen2",
								"type": "DatasetReference",
								"parameters": {
									"SinkFilePath": "DWH/DimZona/",
									"SinkFileName": "DimZona.snappy",
									"SourceFileExtension": "parquet"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SinkAzureTableDWH",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "DimZona"
								}
							}
						]
					},
					{
						"name": "FactPresupuesto",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DimMaterial",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								}
							},
							"sink": {
								"type": "AzureTableSink",
								"azureTableInsertType": "replace",
								"writeBatchSize": 10000
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SinkParquetRawGen2",
								"type": "DatasetReference",
								"parameters": {
									"SinkFilePath": "DWH/FactPresupuesto/",
									"SinkFileName": "FactPresupuesto.snappy",
									"SourceFileExtension": "parquet"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SinkAzureTableDWH",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "FactPresupuesto"
								}
							}
						]
					},
					{
						"name": "DimListaPrecio",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DimZona",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": true
								}
							},
							"sink": {
								"type": "AzureTableSink",
								"azureTableInsertType": "replace",
								"writeBatchSize": 10000
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SinkParquetRawGen2",
								"type": "DatasetReference",
								"parameters": {
									"SinkFilePath": "DWH/DimListaPrecio/",
									"SinkFileName": "DimListaPrecio.snappy",
									"SourceFileExtension": "parquet"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SinkAzureTableDWH",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "DimListaPrecio"
								}
							}
						]
					},
					{
						"name": "DimModeloAtencion",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DimListaPrecio",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": true
								}
							},
							"sink": {
								"type": "AzureTableSink",
								"azureTableInsertType": "replace",
								"writeBatchSize": 10000
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SinkParquetRawGen2",
								"type": "DatasetReference",
								"parameters": {
									"SinkFilePath": "DWH/DimModeloAtencion/",
									"SinkFileName": "DimModeloAtencion.snappy",
									"SourceFileExtension": "parquet"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SinkAzureTableDWH",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "DimModeloAtencion"
								}
							}
						]
					},
					{
						"name": "DimEstrato",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DimModeloAtencion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": true
								}
							},
							"sink": {
								"type": "AzureTableSink",
								"azureTableInsertType": "replace",
								"writeBatchSize": 10000
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SinkParquetRawGen2",
								"type": "DatasetReference",
								"parameters": {
									"SinkFilePath": "DWH/DimEstrato/",
									"SinkFileName": "DimEstrato.snappy",
									"SourceFileExtension": "parquet"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SinkAzureTableDWH",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "DimEstrato"
								}
							}
						]
					},
					{
						"name": "DimMaterial",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DimEstrato",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": true
								}
							},
							"sink": {
								"type": "AzureTableSink",
								"azureTableInsertType": "replace",
								"writeBatchSize": 10000
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SinkParquetRawGen2",
								"type": "DatasetReference",
								"parameters": {
									"SinkFilePath": "DWH/DimMaterial/",
									"SinkFileName": "DimMaterial.snappy",
									"SourceFileExtension": "parquet"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SinkAzureTableDWH",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "DimMaterial"
								}
							}
						]
					},
					{
						"name": "FactPedido",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "FactPresupuesto",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								}
							},
							"sink": {
								"type": "AzureTableSink",
								"azureTableInsertType": "replace",
								"writeBatchSize": 10000
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SinkParquetRawGen2",
								"type": "DatasetReference",
								"parameters": {
									"SinkFilePath": "DWH/FactPedido/",
									"SinkFileName": "FactPedido.snappy",
									"SourceFileExtension": "parquet"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SinkAzureTableDWH",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "FactPedido"
								}
							}
						]
					}
				],
				"folder": {
					"name": "4.CARGA_AZURE_TABLE"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LoadDataDWH_SQL_DIM')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DimAgencia",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": "DWH/DimAgencia/",
									"wildcardFileName": "*.parquet"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [DWH].[DimAgencia]",
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SinkParquetRawGen2",
								"type": "DatasetReference",
								"parameters": {
									"SinkFilePath": "DWH/DimAgencia/",
									"SinkFileName": "DimAgencia.snappy",
									"SourceFileExtension": "parquet"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SourceAzureSqlTableFramework",
								"type": "DatasetReference",
								"parameters": {
									"tableName": "DimAgencia",
									"Schema": "DWH"
								}
							}
						]
					},
					{
						"name": "DimAlmacen",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DimAgencia",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": "DWH/DimAlmacen/",
									"wildcardFileName": "*.parquet"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [DWH].[DimAlmacen]",
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SinkParquetRawGen2",
								"type": "DatasetReference",
								"parameters": {
									"SinkFilePath": "DWH/DimAlmacen/",
									"SinkFileName": "DimAlmacen.snappy",
									"SourceFileExtension": "parquet"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SourceAzureSqlTableFramework",
								"type": "DatasetReference",
								"parameters": {
									"tableName": "DimAlmacen",
									"Schema": "DWH"
								}
							}
						]
					},
					{
						"name": "DimCanal",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DimAlmacen",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": "DWH/DimCanal/",
									"wildcardFileName": "*.parquet"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [DWH].[DimCanal]",
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SinkParquetRawGen2",
								"type": "DatasetReference",
								"parameters": {
									"SinkFilePath": "DWH/DimCanal/",
									"SinkFileName": "DimCanal.snappy",
									"SourceFileExtension": "parquet"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SourceAzureSqlTableFramework",
								"type": "DatasetReference",
								"parameters": {
									"tableName": "DimCanal",
									"Schema": "DWH"
								}
							}
						]
					},
					{
						"name": "DimCategoria",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DimCanal",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": "DWH/DimCategoria/",
									"wildcardFileName": "*.parquet"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [DWH].[DimCategoria]",
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SinkParquetRawGen2",
								"type": "DatasetReference",
								"parameters": {
									"SinkFilePath": "DWH/DimCategoria/",
									"SinkFileName": "DimCategoria.snappy",
									"SourceFileExtension": "parquet"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SourceAzureSqlTableFramework",
								"type": "DatasetReference",
								"parameters": {
									"tableName": "DimCategoria",
									"Schema": "DWH"
								}
							}
						]
					},
					{
						"name": "DimCliente",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DimCategoria",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": "DWH/DimCliente/",
									"wildcardFileName": "*.parquet"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [DWH].[DimCliente]",
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SinkParquetRawGen2",
								"type": "DatasetReference",
								"parameters": {
									"SinkFilePath": "DWH/DimCliente/",
									"SinkFileName": "DimCliente.snappy",
									"SourceFileExtension": "parquet"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SourceAzureSqlTableFramework",
								"type": "DatasetReference",
								"parameters": {
									"tableName": "DimCliente",
									"Schema": "DWH"
								}
							}
						]
					},
					{
						"name": "DimGrupoVendedor",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DimCliente",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": "DWH/DimGrupoVendedor/",
									"wildcardFileName": "*.parquet"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [DWH].[DimGrupoVendedor]",
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SinkParquetRawGen2",
								"type": "DatasetReference",
								"parameters": {
									"SinkFilePath": "DWH/DimGrupoVendedor/",
									"SinkFileName": "DimGrupoVendedor.snappy",
									"SourceFileExtension": "parquet"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SourceAzureSqlTableFramework",
								"type": "DatasetReference",
								"parameters": {
									"tableName": "DimGrupoVendedor",
									"Schema": "DWH"
								}
							}
						]
					},
					{
						"name": "DimMacroZona",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DimGrupoVendedor",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": "DWH/DimMacroZona/",
									"wildcardFileName": "*.parquet"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [DWH].[DimMacroZona]",
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SinkParquetRawGen2",
								"type": "DatasetReference",
								"parameters": {
									"SinkFilePath": "DWH/DimMacroZona/",
									"SinkFileName": "DimMacroZona.snappy",
									"SourceFileExtension": "parquet"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SourceAzureSqlTableFramework",
								"type": "DatasetReference",
								"parameters": {
									"tableName": "DimMacroZona",
									"Schema": "DWH"
								}
							}
						]
					},
					{
						"name": "DimMarca",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DimMacroZona",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": "DWH/DimMarca/",
									"wildcardFileName": "*.parquet"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [DWH].[DimMarca]",
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SinkParquetRawGen2",
								"type": "DatasetReference",
								"parameters": {
									"SinkFilePath": "DWH/DimMarca/",
									"SinkFileName": "DimMarca.snappy",
									"SourceFileExtension": "parquet"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SourceAzureSqlTableFramework",
								"type": "DatasetReference",
								"parameters": {
									"tableName": "DimMarca",
									"Schema": "DWH"
								}
							}
						]
					},
					{
						"name": "DimOrganizacionVentas",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DimMarca",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": "DWH/DimOrganizacionVentas/",
									"wildcardFileName": "*.parquet"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [DWH].[DimOrganizacionVentas]",
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SinkParquetRawGen2",
								"type": "DatasetReference",
								"parameters": {
									"SinkFilePath": "DWH/DimOrganizacionVentas/",
									"SinkFileName": "DimOrganizacionVentas.snappy",
									"SourceFileExtension": "parquet"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SourceAzureSqlTableFramework",
								"type": "DatasetReference",
								"parameters": {
									"tableName": "DimOrganizacionVentas",
									"Schema": "DWH"
								}
							}
						]
					},
					{
						"name": "DimPuestoExpedicion",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DimOrganizacionVentas",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": "DWH/DimPuestoExpedicion/",
									"wildcardFileName": "*.parquet"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [DWH].[DimPuestoExpedicion]",
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SinkParquetRawGen2",
								"type": "DatasetReference",
								"parameters": {
									"SinkFilePath": "DWH/DimPuestoExpedicion/",
									"SinkFileName": "DimPuestoExpedicion.snappy",
									"SourceFileExtension": "parquet"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SourceAzureSqlTableFramework",
								"type": "DatasetReference",
								"parameters": {
									"tableName": "DimPuestoExpedicion",
									"Schema": "DWH"
								}
							}
						]
					},
					{
						"name": "DimRegional",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DimPuestoExpedicion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": "DWH/DimRegional/",
									"wildcardFileName": "*.parquet"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [DWH].[DimRegional]",
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SinkParquetRawGen2",
								"type": "DatasetReference",
								"parameters": {
									"SinkFilePath": "DWH/DimRegional/",
									"SinkFileName": "DimRegional.snappy",
									"SourceFileExtension": "parquet"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SourceAzureSqlTableFramework",
								"type": "DatasetReference",
								"parameters": {
									"tableName": "DimRegional",
									"Schema": "DWH"
								}
							}
						]
					},
					{
						"name": "DimSector",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DimRegional",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": "DWH/DimSector/",
									"wildcardFileName": "*.parquet"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [DWH].[DimSector]",
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SinkParquetRawGen2",
								"type": "DatasetReference",
								"parameters": {
									"SinkFilePath": "DWH/DimSector/",
									"SinkFileName": "DimSector.snappy",
									"SourceFileExtension": "parquet"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SourceAzureSqlTableFramework",
								"type": "DatasetReference",
								"parameters": {
									"tableName": "DimSector",
									"Schema": "DWH"
								}
							}
						]
					},
					{
						"name": "DimSegmento",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DimSector",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": "DWH/DimSegmento/",
									"wildcardFileName": "*.parquet"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [DWH].[DimSegmento]",
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SinkParquetRawGen2",
								"type": "DatasetReference",
								"parameters": {
									"SinkFilePath": "DWH/DimSegmento/",
									"SinkFileName": "DimSegmento.snappy",
									"SourceFileExtension": "parquet"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SourceAzureSqlTableFramework",
								"type": "DatasetReference",
								"parameters": {
									"tableName": "DimSegmento",
									"Schema": "DWH"
								}
							}
						]
					},
					{
						"name": "DimSociedad",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DimSegmento",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": "DWH/DimSociedad/",
									"wildcardFileName": "*.parquet"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [DWH].[DimSociedad]",
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SinkParquetRawGen2",
								"type": "DatasetReference",
								"parameters": {
									"SinkFilePath": "DWH/DimSociedad/",
									"SinkFileName": "DimSociedad.snappy",
									"SourceFileExtension": "parquet"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SourceAzureSqlTableFramework",
								"type": "DatasetReference",
								"parameters": {
									"tableName": "DimSociedad",
									"Schema": "DWH"
								}
							}
						]
					},
					{
						"name": "DimSubcanal",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DimSociedad",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": "DWH/DimSubcanal/",
									"wildcardFileName": "*.parquet"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [DWH].[DimSubcanal]",
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SinkParquetRawGen2",
								"type": "DatasetReference",
								"parameters": {
									"SinkFilePath": "DWH/DimSubcanal/",
									"SinkFileName": "DimSubcanal.snappy",
									"SourceFileExtension": "parquet"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SourceAzureSqlTableFramework",
								"type": "DatasetReference",
								"parameters": {
									"tableName": "DimSubcanal",
									"Schema": "DWH"
								}
							}
						]
					},
					{
						"name": "DimTipologia",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DimSubcanal",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": "DWH/DimTipologia/",
									"wildcardFileName": "*.parquet"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [DWH].[DimTipologia]",
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SinkParquetRawGen2",
								"type": "DatasetReference",
								"parameters": {
									"SinkFilePath": "DWH/DimTipologia/",
									"SinkFileName": "DimTipologia.snappy",
									"SourceFileExtension": "parquet"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SourceAzureSqlTableFramework",
								"type": "DatasetReference",
								"parameters": {
									"tableName": "DimTipologia",
									"Schema": "DWH"
								}
							}
						]
					},
					{
						"name": "DimZona",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DimTipologia",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": "DWH/DimZona/",
									"wildcardFileName": "*.parquet"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [DWH].[DimZona]",
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SinkParquetRawGen2",
								"type": "DatasetReference",
								"parameters": {
									"SinkFilePath": "DWH/DimZona/",
									"SinkFileName": "DimZona.snappy",
									"SourceFileExtension": "parquet"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SourceAzureSqlTableFramework",
								"type": "DatasetReference",
								"parameters": {
									"tableName": "DimZona",
									"Schema": "DWH"
								}
							}
						]
					},
					{
						"name": "DimListaPrecio",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DimZona",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": "DWH/DimListaPrecio/",
									"wildcardFileName": "*.parquet",
									"enablePartitionDiscovery": true
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [DWH].[DimListaPrecio]",
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SinkParquetRawGen2",
								"type": "DatasetReference",
								"parameters": {
									"SinkFilePath": "DWH/DimListaPrecio/",
									"SinkFileName": "DimListaPrecio.snappy",
									"SourceFileExtension": "parquet"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SourceAzureSqlTableFramework",
								"type": "DatasetReference",
								"parameters": {
									"tableName": "DimListaPrecio",
									"Schema": "DWH"
								}
							}
						]
					},
					{
						"name": "DimModeloAtencion",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DimListaPrecio",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": "DWH/DimModeloAtencion/",
									"wildcardFileName": "*.parquet",
									"enablePartitionDiscovery": true
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [DWH].[DimModeloAtencion]",
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SinkParquetRawGen2",
								"type": "DatasetReference",
								"parameters": {
									"SinkFilePath": "DWH/DimModeloAtencion/",
									"SinkFileName": "DimModeloAtencion.snappy",
									"SourceFileExtension": "parquet"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SourceAzureSqlTableFramework",
								"type": "DatasetReference",
								"parameters": {
									"tableName": "DimModeloAtencion",
									"Schema": "DWH"
								}
							}
						]
					},
					{
						"name": "DimEstrato",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DimModeloAtencion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": "DWH/DimEstrato/",
									"wildcardFileName": "*.parquet",
									"enablePartitionDiscovery": true
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [DWH].[DimEstrato]",
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SinkParquetRawGen2",
								"type": "DatasetReference",
								"parameters": {
									"SinkFilePath": "DWH/DimEstrato/",
									"SinkFileName": "DimEstrato.snappy",
									"SourceFileExtension": "parquet"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SourceAzureSqlTableFramework",
								"type": "DatasetReference",
								"parameters": {
									"tableName": "DimEstrato",
									"Schema": "DWH"
								}
							}
						]
					},
					{
						"name": "DimMaterial",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DimEstrato",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": "DWH/DimMaterial/",
									"wildcardFileName": "*.parquet",
									"enablePartitionDiscovery": true
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [DWH].[DimMaterial]",
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SinkParquetRawGen2",
								"type": "DatasetReference",
								"parameters": {
									"SinkFilePath": "DWH/DimMaterial/",
									"SinkFileName": "DimMaterial.snappy",
									"SourceFileExtension": "parquet"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SourceAzureSqlTableFramework",
								"type": "DatasetReference",
								"parameters": {
									"tableName": "DimMaterial",
									"Schema": "DWH"
								}
							}
						]
					},
					{
						"name": "DimEncargadoZona",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DimMaterial",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": "DWH/DimEncargadoZona/",
									"wildcardFileName": "*.parquet"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [DWH].[DimEncargadoZona]",
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SinkParquetRawGen2",
								"type": "DatasetReference",
								"parameters": {
									"SinkFilePath": "DWH/DimEncargadoZona/",
									"SinkFileName": "DimEncargadoZona.snappy",
									"SourceFileExtension": "parquet"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SourceAzureSqlTableFramework",
								"type": "DatasetReference",
								"parameters": {
									"tableName": "DimEncargadoZona",
									"Schema": "DWH"
								}
							}
						]
					},
					{
						"name": "DimClaseMovimiento",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DimEncargadoZona",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": "DWH/DimClaseMovimiento/",
									"wildcardFileName": "*.parquet"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [DWH].[DimClaseMovimiento]",
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SinkParquetRawGen2",
								"type": "DatasetReference",
								"parameters": {
									"SinkFilePath": "DWH/DimClaseMovimiento/",
									"SinkFileName": "DimClaseMovimiento.snappy",
									"SourceFileExtension": "parquet"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SourceAzureSqlTableFramework",
								"type": "DatasetReference",
								"parameters": {
									"tableName": "DimClaseMovimiento",
									"Schema": "DWH"
								}
							}
						]
					},
					{
						"name": "DimTipoPT",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DimClaseMovimiento",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": "DWH/DimTipoPT/",
									"wildcardFileName": "*.parquet"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [DWH].[DimTipoPT]",
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SinkParquetRawGen2",
								"type": "DatasetReference",
								"parameters": {
									"SinkFilePath": "DWH/DimTipoPT/",
									"SinkFileName": "DimTipoPT.snappy",
									"SourceFileExtension": "parquet"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SourceAzureSqlTableFramework",
								"type": "DatasetReference",
								"parameters": {
									"tableName": "DimTipoPT",
									"Schema": "DWH"
								}
							}
						]
					}
				],
				"folder": {
					"name": "4.CARGA_AZURE_TABLE"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LoadDataDWH_SQL_FACT')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "FactPresupuesto",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DBFactPresupuesto",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": "DWH/FactPresupuesto/",
									"wildcardFileName": "*.parquet"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [DWH].[FactPresupuesto]",
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SinkParquetRawGen2",
								"type": "DatasetReference",
								"parameters": {
									"SinkFilePath": "DWH/FactPresupuesto/",
									"SinkFileName": "FactPresupuesto.snappy",
									"SourceFileExtension": "parquet"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SourceAzureSqlTableFramework",
								"type": "DatasetReference",
								"parameters": {
									"tableName": "FactPresupuesto",
									"Schema": "DWH"
								}
							}
						]
					},
					{
						"name": "FactPedido",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DBFactPedido",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": "DWH/FactPedido/",
									"wildcardFileName": "*.parquet"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [DWH].[FactPedido]",
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SinkParquetRawGen2",
								"type": "DatasetReference",
								"parameters": {
									"SinkFilePath": "DWH/FactPedido/",
									"SinkFileName": "FactPedido.snappy",
									"SourceFileExtension": "parquet"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SourceAzureSqlTableFramework",
								"type": "DatasetReference",
								"parameters": {
									"tableName": "FactPedido",
									"Schema": "DWH"
								}
							}
						]
					},
					{
						"name": "FactFactura",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DBFactFacturas",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": "DWH/FactFactura/",
									"wildcardFileName": "*.parquet"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [DWH].[FactFactura]",
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SinkParquetRawGen2",
								"type": "DatasetReference",
								"parameters": {
									"SinkFilePath": "DWH/FactFactura/",
									"SinkFileName": "FactFactura.snappy",
									"SourceFileExtension": "parquet"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SourceAzureSqlTableFramework",
								"type": "DatasetReference",
								"parameters": {
									"tableName": "FactFactura",
									"Schema": "DWH"
								}
							}
						]
					},
					{
						"name": "FactAbastecimiento",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DBFactAbastecimiento",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": "DWH/FactAbastecimiento/",
									"wildcardFileName": "*.parquet"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [DWH].[FactAbastecimiento]",
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SinkParquetRawGen2",
								"type": "DatasetReference",
								"parameters": {
									"SinkFilePath": "DWH/FactAbastecimiento/",
									"SinkFileName": "FactAbastecimiento.snappy",
									"SourceFileExtension": "parquet"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SourceAzureSqlTableFramework",
								"type": "DatasetReference",
								"parameters": {
									"tableName": "FactAbastecimiento",
									"Schema": "DWH"
								}
							}
						]
					},
					{
						"name": "DBFactPresupuesto",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/DWH/FactPresupuesto"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "DBFactPedido",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "FactPresupuesto",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/DWH/FactPedidos"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "DBFactFacturas",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "FactPedido",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/DWH/FactFacturas"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "FactCombos",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DBFactCombos",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": "DWH/FactCombos/",
									"wildcardFileName": "*.parquet"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [DWH].[FactCombos]",
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SinkParquetRawGen2",
								"type": "DatasetReference",
								"parameters": {
									"SinkFilePath": "DWH/FactCombos/",
									"SinkFileName": "FactCombos.snappy",
									"SourceFileExtension": "parquet"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SourceAzureSqlTableFramework",
								"type": "DatasetReference",
								"parameters": {
									"tableName": "FactCombos",
									"Schema": "DWH"
								}
							}
						]
					},
					{
						"name": "FactMovimientosInventario",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DBFactMovimientosInventario",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": "DWH/FactMovimientosInventario/",
									"wildcardFileName": "*.parquet"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [DWH].[FactMovimientosInventario]",
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SinkParquetRawGen2",
								"type": "DatasetReference",
								"parameters": {
									"SinkFilePath": "DWH/FactMovimientosInventario/",
									"SinkFileName": "FactMovimientosInventario.snappy",
									"SourceFileExtension": "parquet"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SourceAzureSqlTableFramework",
								"type": "DatasetReference",
								"parameters": {
									"tableName": "FactMovimientosInventario",
									"Schema": "DWH"
								}
							}
						]
					},
					{
						"name": "FactCierreAgencia",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DBFactCierreAgencia",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": "DWH/FactCierreAgencia/",
									"wildcardFileName": "*.parquet"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [DWH].[FactCierreAgencia]",
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SinkParquetRawGen2",
								"type": "DatasetReference",
								"parameters": {
									"SinkFilePath": "DWH/FactCierreAgencia/",
									"SinkFileName": "FactCierreAgencia.snappy",
									"SourceFileExtension": "parquet"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SourceAzureSqlTableFramework",
								"type": "DatasetReference",
								"parameters": {
									"tableName": "FactCierreAgencia",
									"Schema": "DWH"
								}
							}
						]
					},
					{
						"name": "DBFactAbastecimiento",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "FactFactura",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/DWH/FactAbastecimiento"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "DBFactCombos",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "FactAbastecimiento",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/DWH/FactCombos"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "DBFactMovimientosInventario",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "FactCombos",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/DWH/FactMovimientosInventario"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "DBFactCierreAgencia",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "FactMovimientosInventario",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/DWH/FactCierreAgencia"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "4.CARGA_AZURE_TABLE"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LoadDataDWH_SQL_FACT_copy1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "FactPedido",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DBFactPedido",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": "DWH/FactPedido/",
									"wildcardFileName": "*.parquet"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [DWH].[FactPedido]",
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SinkParquetRawGen2",
								"type": "DatasetReference",
								"parameters": {
									"SinkFilePath": "DWH/FactPedido/",
									"SinkFileName": "FactPedido.snappy",
									"SourceFileExtension": "parquet"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SourceAzureSqlTableFramework",
								"type": "DatasetReference",
								"parameters": {
									"tableName": "FactPedido",
									"Schema": "DWH"
								}
							}
						]
					},
					{
						"name": "FactFactura",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DBFactFacturas",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": "DWH/FactFactura/",
									"wildcardFileName": "*.parquet"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [DWH].[FactFactura]",
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SinkParquetRawGen2",
								"type": "DatasetReference",
								"parameters": {
									"SinkFilePath": "DWH/FactFactura/",
									"SinkFileName": "FactFactura.snappy",
									"SourceFileExtension": "parquet"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SourceAzureSqlTableFramework",
								"type": "DatasetReference",
								"parameters": {
									"tableName": "FactFactura",
									"Schema": "DWH"
								}
							}
						]
					},
					{
						"name": "DBFactPedido",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/DWH/FactPedidos"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "DBFactFacturas",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "FactPedido",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/DWH/FactFacturas"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "4.CARGA_AZURE_TABLE"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LoadDataRaw_Curated')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LkpFileOwners",
						"description": "Lectura de parametrizacin de cargas.",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[audi].[uspRead_CURATED]",
								"storedProcedureParameters": {
									"Environment": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.Environment",
											"type": "Expression"
										}
									},
									"Fac": {
										"type": "Int32",
										"value": {
											"value": "@pipeline().parameters.Fac",
											"type": "Expression"
										}
									},
									"Process": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.Process",
											"type": "Expression"
										}
									},
									"SubProcess": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.SubProcess",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SourceAzureSqlTableFramework",
								"type": "DatasetReference",
								"parameters": {
									"tableName": "NA",
									"Schema": "NA"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "LkpFileOwners",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('LkpFileOwners').output.Value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Notebook",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": {
											"value": "@{item().NotebookPath}",
											"type": "Expression"
										},
										"baseParameters": {
											"SourceFilePath": {
												"value": "@{item().SourceFilePath}",
												"type": "Expression"
											},
											"SourceFileName": {
												"value": "@{item().SourceFileName}",
												"type": "Expression"
											},
											"SourceFileExtension": {
												"value": "@{item().SourceFileExtension}",
												"type": "Expression"
											},
											"SinkFilePath": {
												"value": "@{item().SinkFilePath}",
												"type": "Expression"
											},
											"SinkFileName": {
												"value": "@{item().SinkFileName}",
												"type": "Expression"
											},
											"SinkFileExtension": {
												"value": "@{item().SinkFileExtension}",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureDatabricks",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"parameters": {
					"Environment": {
						"type": "string",
						"defaultValue": "Desarrollo"
					},
					"Process": {
						"type": "string",
						"defaultValue": "Ramo"
					},
					"SubProcess": {
						"type": "string",
						"defaultValue": "Comercial"
					},
					"Fac": {
						"type": "int",
						"defaultValue": 1
					}
				},
				"folder": {
					"name": "3.CARGA_CURATED"
				},
				"annotations": [],
				"lastPublishTime": "2020-10-08T22:47:04Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LoadDataRaw_Enriched')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LkpFileOwners",
						"description": "Lectura de parametrizacin de cargas.",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[audi].[uspRead_ENRICHED]",
								"storedProcedureParameters": {
									"Environment": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.Environment",
											"type": "Expression"
										}
									},
									"date": {
										"type": "Int32",
										"value": {
											"value": "@pipeline().parameters.Date",
											"type": "Expression"
										}
									},
									"Process": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.Process",
											"type": "Expression"
										}
									},
									"SubProcess": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.SubProcess",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SourceAzureSqlTableFramework",
								"type": "DatasetReference",
								"parameters": {
									"tableName": "NA",
									"Schema": "NA"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "LkpFileOwners",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('LkpFileOwners').output.Value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Notebook",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": {
											"value": "@{item().NotebookPath}",
											"type": "Expression"
										},
										"baseParameters": {
											"SourceFilePath": {
												"value": "@{item().SourceFilePath}",
												"type": "Expression"
											},
											"SourceFileName": {
												"value": "@{item().SourceFileName}",
												"type": "Expression"
											},
											"SourceFileExtension": {
												"value": "@{item().SourceFileExtension}",
												"type": "Expression"
											},
											"SinkFilePath": {
												"value": "@{item().SinkFilePath}",
												"type": "Expression"
											},
											"SinkFileName": {
												"value": "@{item().SinkFileName}",
												"type": "Expression"
											},
											"SinkFileExtension": {
												"value": "@{item().SinkFileExtension}",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureDatabricks",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"parameters": {
					"Environment": {
						"type": "string",
						"defaultValue": "Desarrollo"
					},
					"Process": {
						"type": "string",
						"defaultValue": "Ramo"
					},
					"SubProcess": {
						"type": "string",
						"defaultValue": "Comercial"
					},
					"Date": {
						"type": "int",
						"defaultValue": 0
					}
				},
				"folder": {
					"name": "2.CARGA_ENRICHED"
				},
				"annotations": [],
				"lastPublishTime": "2020-10-02T12:23:59Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LoadDataRaw_Enriched_old')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LkpFileOwners",
						"description": "Lectura de parametrizacin de cargas.",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[audi].[uspRead_ENRICHED]",
								"storedProcedureParameters": {
									"Environment": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.Environment",
											"type": "Expression"
										}
									},
									"date": {
										"type": "Int32",
										"value": {
											"value": "@pipeline().parameters.Date",
											"type": "Expression"
										}
									},
									"Process": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.Process",
											"type": "Expression"
										}
									},
									"SubProcess": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.SubProcess",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SourceAzureSqlTableFramework",
								"type": "DatasetReference",
								"parameters": {
									"tableName": "NA",
									"Schema": "NA"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "LkpFileOwners",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('LkpFileOwners').output.Value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Notebook",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": {
											"value": "/ENRICHED/@{item().enrichedFileName}",
											"type": "Expression"
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureDatabricks",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"parameters": {
					"Environment": {
						"type": "string",
						"defaultValue": "Desarrollo"
					},
					"Process": {
						"type": "string",
						"defaultValue": "Ramo"
					},
					"SubProcess": {
						"type": "string",
						"defaultValue": "Comercial"
					},
					"Date": {
						"type": "int",
						"defaultValue": 0
					}
				},
				"folder": {
					"name": "temp"
				},
				"annotations": [],
				"lastPublishTime": "2020-10-02T06:58:27Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceSapHanaRaw')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SourceSapHana",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"tableName": {
						"type": "string"
					},
					"Schema": {
						"type": "string"
					}
				},
				"folder": {
					"name": "SOURCES"
				},
				"annotations": [],
				"type": "SapHanaTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().Schema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().tableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceSapTableRaw')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SapTable",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"tableName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "SOURCES"
				},
				"annotations": [],
				"type": "SapTableResource",
				"schema": [],
				"typeProperties": {
					"tableName": {
						"value": "@dataset().tableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LoadDataSAPHana_Raw_Gen2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LkpFileOwners",
						"description": "Lectura de parametrizacin de cargas.",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[audi].[uspReadFileOwners]",
								"storedProcedureParameters": {
									"Environment": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.Environment",
											"type": "Expression"
										}
									},
									"From": {
										"type": "Int32",
										"value": {
											"value": "@pipeline().parameters.From",
											"type": "Expression"
										}
									},
									"Process": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.Process",
											"type": "Expression"
										}
									},
									"SubProcess": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.SubProcess",
											"type": "Expression"
										}
									},
									"To": {
										"type": "Int32",
										"value": {
											"value": "@pipeline().parameters.To",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SourceAzureSqlTableFramework",
								"type": "DatasetReference",
								"parameters": {
									"tableName": "NA",
									"Schema": "NA"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach",
						"description": "Iteracin de parametrizacin de cargas.",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "LkpFileOwners",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('LkpFileOwners').output.Value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "CopySAPRaw",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SapHanaSource",
											"query": {
												"value": "@{concat('SELECT ',item().SourceColumnSelect,' WHERE ',item().SourceFilter)}",
												"type": "Expression"
											},
											"partitionOption": "None"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "SourceSapHanaRaw",
											"type": "DatasetReference",
											"parameters": {
												"tableName": {
													"value": "@item().SourceFileName",
													"type": "Expression"
												},
												"Schema": "SAPRAP"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "SinkParquetRawGen2",
											"type": "DatasetReference",
											"parameters": {
												"SinkFilePath": {
													"value": "@item().SinkFilePath",
													"type": "Expression"
												},
												"SinkFileName": {
													"value": "@item().SinkFileName",
													"type": "Expression"
												},
												"SourceFileExtension": {
													"value": "@item().SinkFileExtension",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Success",
									"description": "Registra en el usp [uspUpdateLogAuditoriaPactia] el estado de ejecucin",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "CopySAPRaw",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[audi].[uspUpdateLogAuditoria]",
										"storedProcedureParameters": {
											"ExecutionDuration": {
												"value": {
													"value": "@activity('CopySAPRaw').output.executionDetails[0].detailedDurations",
													"type": "Expression"
												},
												"type": "String"
											},
											"ExecutionError": {
												"value": {
													"value": "n/a",
													"type": "Expression"
												},
												"type": "String"
											},
											"ExecutionStart": {
												"value": {
													"value": "@activity('CopySAPRaw').output.executionDetails[0].start",
													"type": "Expression"
												},
												"type": "String"
											},
											"FileName": {
												"value": {
													"value": "@item().SourceFileName",
													"type": "Expression"
												},
												"type": "String"
											},
											"fkFileOwners": {
												"value": {
													"value": "@item().pkFileOwners",
													"type": "Expression"
												},
												"type": "String"
											},
											"Pipeline": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"RowsCopied": {
												"value": {
													"value": "@if(contains(activity('CopySAPRaw').output,'rowsCopied'),activity('CopySAPRaw').output.rowsCopied,-1)",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"RowsRead": {
												"value": {
													"value": "@if(contains(activity('CopySAPRaw').output,'rowsRead'),activity('CopySAPRaw').output.rowsRead,-1)",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"StateOfExecutions": {
												"value": {
													"value": "1",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"TriggerName": {
												"value": {
													"value": "@pipeline().TriggerName",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureSqlDatabase",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Failure",
									"description": "Registra en el usp [uspUpdateLogAuditoriaPactia] el estado de ejecucin",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "CopySAPRaw",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[audi].[uspUpdateLogAuditoria]",
										"storedProcedureParameters": {
											"ExecutionDuration": {
												"value": {
													"value": "@activity('CopySAPRaw').output.executionDetails[0].detailedDurations",
													"type": "Expression"
												},
												"type": "String"
											},
											"ExecutionError": {
												"value": {
													"value": "@activity('CopySAPRaw').output.errors[0].Message",
													"type": "Expression"
												},
												"type": "String"
											},
											"ExecutionStart": {
												"value": {
													"value": "@activity('CopySAPRaw').output.executionDetails[0].start",
													"type": "Expression"
												},
												"type": "String"
											},
											"FileName": {
												"value": {
													"value": "@item().SourceFileName",
													"type": "Expression"
												},
												"type": "String"
											},
											"fkFileOwners": {
												"value": {
													"value": "@item().pkFileOwners",
													"type": "Expression"
												},
												"type": "String"
											},
											"Pipeline": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"RowsCopied": {
												"value": {
													"value": "0",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"RowsRead": {
												"value": {
													"value": "0",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"StateOfExecutions": {
												"value": {
													"value": "0",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"TriggerName": {
												"value": {
													"value": "@pipeline().TriggerName",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureSqlDatabase",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"parameters": {
					"Environment": {
						"type": "string",
						"defaultValue": "Desarrollo"
					},
					"Process": {
						"type": "string",
						"defaultValue": "Ramo"
					},
					"SubProcess": {
						"type": "string",
						"defaultValue": "ComercialHana"
					},
					"From": {
						"type": "int",
						"defaultValue": 0
					},
					"To": {
						"type": "int",
						"defaultValue": 0
					}
				},
				"folder": {
					"name": "1.CARGA_RAW"
				},
				"annotations": [],
				"lastPublishTime": "2020-10-02T12:23:59Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceSapHanaRaw')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LoadDataSAPTable_Raw_Gen2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LkpFileOwners",
						"description": "Lectura de parametrizacin de cargas.",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[audi].[uspReadFileOwners]",
								"storedProcedureParameters": {
									"Environment": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.Environment",
											"type": "Expression"
										}
									},
									"From": {
										"type": "Int32",
										"value": {
											"value": "@pipeline().parameters.From",
											"type": "Expression"
										}
									},
									"Process": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.Process",
											"type": "Expression"
										}
									},
									"SubProcess": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.SubProcess",
											"type": "Expression"
										}
									},
									"To": {
										"type": "Int32",
										"value": {
											"value": "@pipeline().parameters.To",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SourceAzureSqlTableFramework",
								"type": "DatasetReference",
								"parameters": {
									"tableName": "NA",
									"Schema": "NA"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach",
						"description": "Iteracin de parametrizacin de cargas.",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "LkpFileOwners",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('LkpFileOwners').output.Value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "CopySAPRaw",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SapTableSource",
											"rfcTableOptions": {
												"value": "@{item().SourceFilter}",
												"type": "Expression"
											},
											"customRfcReadTableFunctionModule": "",
											"rfcTableFields": {
												"value": "@item().SourceColumnSelect",
												"type": "Expression"
											},
											"partitionOption": "None"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "SourceSapTableRaw",
											"type": "DatasetReference",
											"parameters": {
												"tableName": {
													"value": "@item().SourceFileName",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "SinkParquetRawGen2",
											"type": "DatasetReference",
											"parameters": {
												"SinkFilePath": {
													"value": "@item().SinkFilePath",
													"type": "Expression"
												},
												"SinkFileName": {
													"value": "@item().SinkFileName",
													"type": "Expression"
												},
												"SourceFileExtension": {
													"value": "@item().SinkFileExtension",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Success",
									"description": "Registra en el usp [uspUpdateLogAuditoriaPactia] el estado de ejecucin",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "CopySAPRaw",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[audi].[uspUpdateLogAuditoria]",
										"storedProcedureParameters": {
											"ExecutionDuration": {
												"value": {
													"value": "@activity('CopySAPRaw').output.executionDetails[0].detailedDurations",
													"type": "Expression"
												},
												"type": "String"
											},
											"ExecutionError": {
												"value": {
													"value": "n/a",
													"type": "Expression"
												},
												"type": "String"
											},
											"ExecutionStart": {
												"value": {
													"value": "@activity('CopySAPRaw').output.executionDetails[0].start",
													"type": "Expression"
												},
												"type": "String"
											},
											"FileName": {
												"value": {
													"value": "@item().SourceFileName",
													"type": "Expression"
												},
												"type": "String"
											},
											"fkFileOwners": {
												"value": {
													"value": "@item().pkFileOwners",
													"type": "Expression"
												},
												"type": "String"
											},
											"Pipeline": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"RowsCopied": {
												"value": {
													"value": "@if(contains(activity('CopySAPRaw').output,'rowsCopied'),activity('CopySAPRaw').output.rowsCopied,-1)",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"RowsRead": {
												"value": {
													"value": "@if(contains(activity('CopySAPRaw').output,'rowsRead'),activity('CopySAPRaw').output.rowsRead,-1)",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"StateOfExecutions": {
												"value": {
													"value": "1",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"TriggerName": {
												"value": {
													"value": "@pipeline().TriggerName",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureSqlDatabase",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Failure",
									"description": "Registra en el usp [uspUpdateLogAuditoriaPactia] el estado de ejecucin",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "CopySAPRaw",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[audi].[uspUpdateLogAuditoria]",
										"storedProcedureParameters": {
											"ExecutionDuration": {
												"value": {
													"value": "@activity('CopySAPRaw').output.executionDetails[0].detailedDurations",
													"type": "Expression"
												},
												"type": "String"
											},
											"ExecutionError": {
												"value": {
													"value": "@activity('CopySAPRaw').output.errors[0].Message",
													"type": "Expression"
												},
												"type": "String"
											},
											"ExecutionStart": {
												"value": {
													"value": "@activity('CopySAPRaw').output.executionDetails[0].start",
													"type": "Expression"
												},
												"type": "String"
											},
											"FileName": {
												"value": {
													"value": "@item().SourceFileName",
													"type": "Expression"
												},
												"type": "String"
											},
											"fkFileOwners": {
												"value": {
													"value": "@item().pkFileOwners",
													"type": "Expression"
												},
												"type": "String"
											},
											"Pipeline": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"RowsCopied": {
												"value": {
													"value": "0",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"RowsRead": {
												"value": {
													"value": "0",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"StateOfExecutions": {
												"value": {
													"value": "0",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"TriggerName": {
												"value": {
													"value": "@pipeline().TriggerName",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureSqlDatabase",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"parameters": {
					"Environment": {
						"type": "string",
						"defaultValue": "Desarrollo"
					},
					"Process": {
						"type": "string",
						"defaultValue": "Ramo"
					},
					"SubProcess": {
						"type": "string",
						"defaultValue": "Comercial"
					},
					"From": {
						"type": "int",
						"defaultValue": 0
					},
					"To": {
						"type": "int",
						"defaultValue": 0
					}
				},
				"folder": {
					"name": "1.CARGA_RAW"
				},
				"annotations": [],
				"lastPublishTime": "2020-09-25T15:08:00Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceSapTableRaw')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LoadDataSAP')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LoadDataSAPTable_Raw_Gen2",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "LoadDataSAPTable_Raw_Gen2",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "LoadDataSAPHana_Raw_Gen2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "LoadDataSAPTable_Raw_Gen2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "LoadDataSAPHana_Raw_Gen2",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "LoadDataRaw_Enriched",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "LoadDataSAPHana_Raw_Gen2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "LoadDataRaw_Enriched",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "LoadDataRaw_Curated",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "LoadDataRaw_Enriched",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "LoadDataRaw_Curated",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "LoadDataRaw_CuratedHana",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "LoadDataRaw_Curated",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "LoadDataRaw_Curated",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Environment": "Desarrollo",
								"Process": "Ramo",
								"SubProcess": "ComercialHana",
								"Fac": "1"
							}
						}
					},
					{
						"name": "LoadDataDWH_SQL_DIM",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "LoadDataRaw_CuratedHana",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "LoadDataDWH_SQL_DIM",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "LoadDataDWH_SQL_FACT",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "LoadDataDWH_SQL_DIM",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "LoadDataDWH_SQL_FACT",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"folder": {
					"name": "0.MAESTRO EJECUCIN"
				},
				"annotations": [],
				"lastPublishTime": "2020-10-09T12:15:41Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/LoadDataSAPTable_Raw_Gen2')]",
				"[concat(variables('factoryId'), '/pipelines/LoadDataSAPHana_Raw_Gen2')]",
				"[concat(variables('factoryId'), '/pipelines/LoadDataRaw_Enriched')]",
				"[concat(variables('factoryId'), '/pipelines/LoadDataRaw_Curated')]",
				"[concat(variables('factoryId'), '/pipelines/LoadDataDWH_SQL_DIM')]",
				"[concat(variables('factoryId'), '/pipelines/LoadDataDWH_SQL_FACT')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Job_cargas_12am')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "LoadDataSAP",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2020-10-02T06:00:00Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								6
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/LoadDataSAP')]"
			]
		}
	]
}